<user class="bg-white">
<h3>Contact Us</h3>
  <p>Welcome to <b>{ props.name }</b></p>
  <p>For Project web app contact us.</p>
  <p>WhatsApp +6285646104747</p>
  <p>Call Us +6287819355589</p>
  <p>Sent Email axcora@gmail.com</p>
</user>