<home class="text-center">
  <h1>Welcome Home</h1>
  <p>Build blast fast website single page apps with riot</p>
<img width="500" src="https://1.bp.blogspot.com/-r-wSGgqtsm0/X-Hr184zSbI/AAAAAAAAL-8/I377EooVg4gg4PMyPfh4PBIcKU0Kf83zQCLcBGAsYHQ/s625/pembuatan%2Bwebsite%2Bcompany%2Bprofile%2B%25283%2529.png"/>
</home>