<info>
  <h1>Information</h1>
How to install ?? For first you need to install node or yarn then run node , then open your terminal shell / NPM and run command : <span class="bg-dark text-light p-1"> npm i riot </span> for installing riot js on your local computer.<br/>
Then download this source code from sourceforge or you can clone fork it from github <br/>
Extract download file to your project folder, and open shell terminal / npm run command : <span class="bg-dark text-light p-1"> npm install && npm start </span><br/>
You web app is live now , you can visit localhost:3000 on web browser.<br/>
With riot you can build and develope single page apps with easy and fast , Simple and elegant component-based UI library.<br/>
Only 7kb! - Fewer bugs - Faster to parse and cheaper to download - Embeddable. The library ought to be smaller than the application - Less to maintain. We don’t need a big team to maintain Riot.<br/>
Change a page, you can change article content with your own , just open yourprojectfolder\src\pages and edit all content in here.
</info>