<profile class="row">
<div class="col-12 col-md-8 p-3">
  <img src="https://1.bp.blogspot.com/-P87ExqhdGps/X-Hr04pLjqI/AAAAAAAAL-0/M3Vv_gcxMBM9qMzFWqXM6aRtzb8_MTa5QCLcBGAsYHQ/s624/pembuatan%2Bwebsite%2Bcompany%2Bprofile%2B%25281%2529.png"/>
</div>
<div class="col-12 col-md-4 p-3">
  <h1>Profile Dev</h1>
<p>This template themes for riot web apps, develope using riot js and milligram feat new bootstrapm designed creative by dre who work on axcora technology.</p>
</div>
</profile>